body {
    background-color: rgb(215, 215, 215);
}
.title {
    text-align: center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
}
.ingredients-list, .steps-list {
    font-size: 20px;
}